.App {
  text-align: center;
}

.Home {
  text-align: center;
}

#bandeau {
  width: 100%;
  background-size: 100% auto !important;
  font-size: 200%;
  margin: 0;
  line-height: 70px;
  background : #A9A9A9;
  box-shadow: 15px 15px 12px #555;
}

#pong-pong {
  height: 74px;
  margin: 0;
  background : #A9A9A9;
  box-shadow: 15px 15px 12px #555;
}
#canvas {
  width: 70%;
  height: 40%;
  max-width: 740px;
  max-height: 580px;
}

#to-play {
  width: 55%;
  height: auto;
  background-size: 100% auto !important;
  text-align: center;
  box-shadow: 15px 15px 12px #555;
  margin-left: 22%;
  margin-right: 22%;
  border-width: medium;
  margin : 20;
  background : #778899;
  line-height: 60px;
}

#all{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: OCR A Std;
  background-color : #4682B4;
}

.bouton {
  background-color: #008000;
  border: outset;
  border-color: #555;
  color: white;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.bouton:hover
{
  color : white;
}

#choice {
  height: 400px;
  width: 300px;
  
  margin-left:auto;
  margin-right:auto;
  background : #A9A9A9;
  text-align: center;
  box-shadow: 15px 15px 12px #555;
  
}

#player-pong {
  text-align: center;
  font-size: 30px;
  font-family: OCR A Std;
}

#score {
  font-size: 30px;
  text-align: center;
}
